body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/img-002.jpg) no-repeat center center/cover;
}
.inputcontainer{
    width: 400px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 0 20px black;
    margin-bottom: 40px;
}
.inputtask{
    flex: 5;
    font-size: 1rem;
    margin-right: 15px;
    border-radius: 15px;
    padding: 10px 10px;
}
.addBtn{
flex: .4;
color: green;
background: white;
font-size: 1.2rem;
border-radius: 5px;
box-shadow: 0 10 10 black;
}
.addBtn:hover{
    color: white;
    background-color: green;
}
.list{
    background-color: white;
    width: 100%;
    display: flex;
    padding: 2px 2px;
    justify-content: space-between;

    font-size: .2rem;
    list-style: none;
    border-radius: 10px;
   margin-bottom: 10px;
}
.task{
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}
 .list button{
    margin: 10px;
    flex: .5;
    background-color: white;
    border-radius: 10px;
}
.check{
    font-size: 25px;
    border-color: orange;
    color: orange;
}
.delete{
    font-size: 25px;
    border-color:orange;
    color: red;
}
.check:hover{
    cursor: pointer;
    background-color: orange;
    color:white;

}
.delete:hover{
    cursor: pointer;
    background-color:red;
    color:white;

}
